# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Local data
generated_data/
checkpoint/
spark-warehouse/
metastore_db/
derby.log

# IDEs
.vscode/
.idea/
.project
.pydevproject
.settings/

# OS
.DS_Store
Thumbs.db
